<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vKirirom Pine Resort</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">

    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon.ico">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#191C21">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="vkirirom.com_v2">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#191C21">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Hotel",
        "image": "https://res.cloudinary.com/die9ji2vn/image/upload/v1560155423/top_image_kyv74r.jpg",
        "starRating" : {
           "@type" : "Rating",
            "ratingValue" : "4"
          },
        "priceRange" : "$50 - $300",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Preah Soramarith-Kosamak National Park (Kirirom)",
          "addressLocality": "Phnom Srouch District",
          "addressRegion": "Kampong Speu Province",
          "postalCode": "",
          "addressCountry": "Cambodia"
        },
         "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.1",
          "bestRating": "5",
          "ratingCount": "105"
          },
        
        "description": "vKirirom Pine Resort is located amongst the pine trees of Kirirom Mountain.",
        "name": "vKirirom Pine Resort",
        "alternateName": "Kirirom Pine Resort",
        "alternateName": "vKirirom Resort",
        "alternateName": "vKirirom",
        "telephone": "+855 (0) 78 777 284",
        "email": "info@vkirirom.com",
        "url": "https://www.vkirirom.com",
        "sameAs" : [ "https://www.instagram.com/vkirirom_pine_resort/",
          "https://www.facebook.com/vkirirom/",
          "https://www.tripadvisor.com/Hotel_Review-g8747107-d7271576-Reviews-VKirirom_Pine_Resort-Traeng_Trayueng_Kampong_Speu_Province.html"
        ],   
      
        "hasMap": "https://goo.gl/maps/k9FTeb4krNLsyfKp8",
      
        "potentialAction":{
         "@type":"ReserveAction",
         "target":{
            "@type":"EntryPoint",
            "urlTemplate":"https://www.vkirirom.com/",
            "actionPlatform":[
                "https://vkirirom.com/"
              ]
          },
         "result":{
            "@type":"LodgingReservation",
            "name":"Book Now"
        }
       }
      }
    </script>
  </head>
  <body>
    <noscript>
      This is your fallback content in case JavaScript fails to load.
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
    <form name="bookForm" netlify netlify-honeypot="bot-field" hidden action="/thanks" data-netlify="true">
      <input type="text" name="Name" />
      <input type="text" name="Property"/>
      <input type="text" name="E-mail" />
      <input type="text" name="Phone" />
      <input type="text" name="Date" />
      <input type="text" name="Message" />
    </form>
  </body>
</html>
