.booking-dialog--toolbar {
  top: 0;
}
.booking-dialog--hero .v-image::after {
  // is using postcss-easing-gradients
  background: linear-gradient(to top, rgba(25, 28, 33, 0.8), ease-in-out, transparent);
  position: absolute;
  height: rem(96px);
  bottom: 0;
  right: 0;
  left: 0;
  content: '';
}
.booking-dialog--title {
  bottom: rem(16px);
}
