.hero-dialog--toolbar {
  top: 0;
}
::v-deep .hero-dialog--hero .v-image__image {
  filter: blur(2px);
  left: rem(-4px);
  right: rem(-4px);
  top: rem(-4px);
  bottom: rem(-4px);
  height: auto;
  width: auto;
}
.hero-dialog--title {
  padding: rem(32px) 0 rem(16px);
  bottom: 0;
  // is using postcss-easing-gradients
  background: linear-gradient(to top, rgba(25, 28, 33, 0.8), ease-in-out, transparent);
}
