@import './bootstrap.scss';
@import './datepicker-dark-theme.scss';

#app {
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // TODO: refactor!
  overflow-x: hidden;
}
body {
  // TODO: refactor!
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

.w-100 {
  width: 100%;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.normalText {
  font-size: rem(16px);
  color: #b9bcc1;
}
.v-input__slot {
  margin: 0;
  height: 55px;
  /*To make the total margin:30px */
  margin-bottom: 10px;
}
.v-carousel__controls {
  background: linear-gradient(0deg, #191c21 0%, rgba(25, 28, 33, 0) 50%);
  .v-icon {
    font-size: 7px !important;
    padding: 0px;
  }
}
.header {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 464px;
  object-fit: cover;
}
.gradient {
  background-image: linear-gradient(0deg, #191c21 0%, rgba(25, 28, 33, 0) 50%);
  box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.image {
  transition: 0.8s ease;
  -webkit-transition: 0.8s ease;
  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-webkit-keyframes autofill {
  to {
    color: white;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

// container
.is-limited {
  &.container {
    max-width: 316px;
  }
  @include media-breakpoint-up(sm) {
    &.container {
      max-width: 540px;
    }
  }
  @include media-breakpoint-up(md) {
    &.container {
      max-width: 924px;
    }
  }
}

.v-carousel__controls {
  background: transparent !important;
  .v-btn__content {
    margin: 0;
    padding: 0;
  }
  .v-icon {
    font-size: 7px !important;
    color: white !important;
  }
}

// animations
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

// fix vuetify labels when browser autofills data
.v-label.theme--dark {
  background-color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h1,
.h1 {
  font-size: rem(46px);
  @include media-breakpoint-up(md) {
    font-size: rem(34px);
  }
}
h2,
.h2 {
  font-size: rem(34px);
  @include media-breakpoint-up(md) {
    font-size: rem(20px);
  }
}
h3,
.h3 {
  font-size: rem(20px);
  @include media-breakpoint-up(md) {
    font-size: rem(20px);
  }
}
h4,
.h4 {
  font-size: rem(20px);
  @include media-breakpoint-up(md) {
    font-size: rem(16px);
  }
}
