@import './global-typography.scss';
@import './global-language.scss';
@import './global-animations.scss';

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // TODO: refactor!
  overflow-x: hidden;
}
body {
  // TODO: refactor!
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.w-100 {
  // TODO: move to utility.scss
  width: 100%;
}
.overflow-y-hidden {
  // TODO: move to utility.scss
  overflow-y: hidden;
}
.page {
  min-height: calc(100vh - #{rem($header-height)});
  min-height: calc(100 * var(--vh) - #{rem($header-height)});
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .page-content {
    flex-grow: 1;
  }
}
// TODO: move to global-override-vuetify.scss
.v-carousel__controls {
  background: linear-gradient(0deg, #191c21 0%, rgba(25, 28, 33, 0) 50%);
  .v-icon {
    font-size: 7px !important;
    padding: 0px;
  }
}
// deprecated TODO: remove
.header {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 464px;
  object-fit: cover;
}
// deprecated TODO: remove
.gradient {
  background-image: linear-gradient(0deg, #191c21 0%, rgba(25, 28, 33, 0) 50%);
  box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
// deprecated TODO: remove
.image {
  transition: 0.8s ease;
  -webkit-transition: 0.8s ease;
  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@-webkit-keyframes autofill {
  to {
    color: white;
    background: transparent;
  }
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

// container
.is-limited {
  &.container {
    max-width: 316px;
  }
  @include media-breakpoint-up(sm, $my-breakpoints) {
    &.container {
      max-width: 540px;
    }
  }
  @include media-breakpoint-up(md, $my-breakpoints) {
    &.container {
      max-width: 912px;
    }
  }
}

// TODO: move to global-override-vuetify.scss
.v-carousel__controls {
  background: transparent !important;
  .v-btn__content {
    margin: 0;
    padding: 0;
  }
  .v-icon {
    font-size: 7px !important;
    color: white !important;
  }
}
// fix vuetify labels when browser autofills data
.dark .v-label--active.theme--dark {
  background-color: map-get($grey, 'darken-4');
}
// vuetify card dark
.theme--dark.v-card.v-card {
  color: map-get($grey, 'lighten-1');
}
// vuetify buttons
.v-application .v-btn.v-btn {
  font-weight: 600;
}
