.markdown-content {
  h1 {
    font-weight: normal;
  }
  h2 {
    font-weight: normal;
    margin-top: sass-rem(48px);
    margin-bottom: sass-rem(16px);
  }
  h3 {
    font-weight: normal;
    margin-top: sass-rem(48px);
    margin-bottom: sass-rem(16px);
  }
  p {
    margin-bottom: sass-rem(16px);
  }
}
