// general
// --------------------------------------------
.text-transform-none {
  text-transform: none;
}
.user-select-none {
  user-select: none;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
.text-underline {
  text-decoration: underline;
}
.font-weight-normal {
  font-weight: normal;
}
.font-weight-semibold {
  font-weight: 600;
}

// vkirirom specific
// --------------------------------------------
.light-border {
  border-color: $light;
}
.v-divider {
  &.is-small {
    width: rem(64px);
  }
}